
.back_to_top {
    background-color: #37475a;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 13px;
}



.footer_main {
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 45px 20px;
}

.footer_section {
    width: 180px;
}

.footer_section h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer_section p {
    font-size: 14px;
    margin: 12px 0;
    color: #ddd;
}


.footer_middle {
    background-color: #232f3e;
    border-top: 1px solid #3a4553;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 35px;
}

.footer_logo {
    font-size: 25px;
    font-weight: bold;
    margin-right: 80px;
}

.footer_middle button {
    background-color: #232f3e;
    color: white;
    border: 1px solid #848e9a;
    padding: 10px 20px;
}


.footer_bottom {
    background-color: #131a22;
    color: white;
    padding: 40px 15%;
}

.footer_brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-bottom: 50px;
}

.footer_brands b {
    font-size: 12px;
}

.footer_brands p {
    color: #aaa;
    font-size: 11px;
    margin-top: 3px;
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 12px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}