

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

/* Navbar */

header {
    height: 70px;
    background-color: #131921;

    display: flex;
    align-items: center;

    padding: 5px 15px;
    gap: 15px;
}

/* Logo */

.logo img {
    width: 100px;
}

/* Location */

.location_box {
    display: flex;
    align-items: center;
    gap: 8px;

    color: white;
}

.location_box div {
    font-size: 12px;
}

.location_box img {
    width: 17px;
    height: 25px;
    margin-right: 5px;
}


/* Search */

.dropdown_box {
    display: flex;
    align-items: center;

    height: 45px;

    flex: 1;
}

.dropdown_box select {
    height: 45px;
    width: 70px;

    border: none;
    background-color: #e6e6e6;
}

.dropdown_box input {
    height: 45px;

    flex: 1;

    border: none;

    padding: 10px;

    font-size: 14px;
}

.magnifying_icon {
    height: 45px;
    width: 50px;

    background-color: #febd69;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Language */

.language_dropdown {
    background-color: transparent;
    color: white;

    border: none;

    font-weight: bold;
}

/* Account */

.account_section {
    color: white;

    font-size: 12px;

    white-space: nowrap;
}

/* Orders */

.orders_section {
    color: white;

    font-size: 12px;

    white-space: nowrap;
}

/* Cart */

.cart_box {
    display: flex;
    align-items: center;

    color: white;

    gap: 5px;
}

.cart_count {
    color: #ff9900;
}

.cart_text {
    display: flex;
    align-items: center;

    gap: 3px;

    font-size: 18px;
}

.main_content {
    min-height: 500px;
    background-color: white;
}