{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer>

    <!-- Back to top -->
    <div class="back_to_top">
        Back to top
    </div>


    <!-- Main footer -->
    <div class="footer_main">

        {% for section in footer_data %}

        <div class="footer_section">

            <h3>{{ section.title }}</h3>

            {% for item in section.items %}
            <p>{{ item }}</p>
            {% endfor %}

        </div>

        {% endfor %}

    </div>


    <!-- Logo and language -->
    <div class="footer_middle">

        <div class="footer_logo">
            amazon
        </div>

        <button>🌐 English</button>

        <button>🇮🇳 India</button>

    </div>


    <!-- Bottom footer -->
    <div class="footer_bottom">

        <div class="footer_brands">

            <div>
                <b>AbeBooks</b>
                <p>Books, art<br>& collectibles</p>
            </div>

            <div>
                <b>Amazon Web Services</b>
                <p>Scalable Cloud<br>Computing Services</p>
            </div>

            <div>
                <b>Audible</b>
                <p>Download<br>Audio Books</p>
            </div>

            <div>
                <b>IMDb</b>
                <p>Movies, TV<br>& Celebrities</p>
            </div>

            <div>
                <b>Shopbop</b>
                <p>Designer<br>Fashion Brands</p>
            </div>

            <div>
                <b>Amazon Business</b>
                <p>Everything For<br>Your Business</p>
            </div>

            <div>
                <b>Amazon Music</b>
                <p>Stream millions of<br>songs</p>
            </div>

        </div>

        <div class="footer_links">
            <span>Conditions of Use & Sale</span>
            <span>Privacy Notice</span>
            <span>Interest-Based Ads</span>
        </div>
        <div class="copyright">
            © 1996-2026, Amazon.com, Inc. or its affiliates
        </div>

    </div>

</footer>