{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Navbar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/image.png' %}" alt="Logo">
        </div>

        <div class="location_box">
            <img src="{% static 'images/lc.png' %}" alt="">
            <div>
                <div>Delivering to </div>
                <div><b>Sonipat 131001</b></div>
            </div>
        </div>

        <div class="dropdown_box">
            <select name="" id="">
                <option value="">All</option>
                <option value="">Alexa</option>
                <option value="">Amazon Devices</option>
                <option value="">Amazon Fashion</option>
                <option value="">Amazon Fresh</option>
                <option value="">Amazon Pharmacy</option>
                <option value="">Appliances</option>
                <option value="">Apps & Games</option>
                <option value="">Baby</option>
                <option value="">Beauty & Personal Care</option>
                <option value="">Books</option>
                <option value="">Car & Motorbike</option>
                <option value="">Clothing & Accessories</option>
            </select>
            <input type="text" placeholder="Search Amazon.in">
            <div class="magnifying_icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <select name="" id="" class="language_dropdown">
            <option value="">🇮🇳 EN</option>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
        </select>

        <div class="account_section">
            <p>Hello User</p>
            <p>Account & Lists</p>
        </div>



        <div class="orders_section">
            <p>Returns</p>
            <p>& Orders</p>
        </div>


        <div class="cart_box">
            <div class="cart_count"><b>0</b></div>
            <div class="cart_text">
                <div>🛒</div>
                <div><a>Cart</a></div>
            </div>
        </div>
    </header>

</html>