{% load static %}

<header class="container">

    <!-- Horizontal Sub Navbar -->
    <div class="sub_navbar">

        <div class="hamburger_content_box" onclick="show_side_bar()">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>

        {% for item in subnavbar_data %}
            <p class="sub_nav_item">{{ item }}</p>
        {% endfor %}

    </div>


    <!-- Sidebar -->
    <div class="Sign_in_box">

        <div class="sidebar_top">
            <i class="fa-solid fa-circle-user"></i>
            <b>Hello, User</b>
        </div>

        {% for section in sidebar_data %}

            <div class="sidebar_section">

                <h3>{{ section.title }}</h3>

                {% for item in section.items %}
                    <p>{{ item }}</p>
                {% endfor %}

            </div>

        {% endfor %}

    </div>


    <!-- Close button -->
    <div class="close_button" onclick="hide_side_bar()">
        <i class="fa-solid fa-xmark"></i>
    </div>

</header>

<script src="{% static 'js/sidebar.js' %}"></script>